HELIUS_DEVNET_RPC="https://devnet.helius-rpc.com/?api-key=8bf23375-f35e-48c7-a1b1-e3551603c072"
HELIUS_MAINNET_RPC="https://mainnet.helius-rpc.com/?api-key=8bf23375-f35e-48c7-a1b1-e3551603c072"
ANCHOR_WALLET="$HOME/.config/solana/id.json"
